[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
CN = dev.yordomain.com.br

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = dev.yordomain.com.br
DNS.2 = *.dev.yordomain.com.br
DNS.3 = kubernetes.docker.internal
DNS.4 = host.docker.internal